version: "3.8"
services:
  mongodb:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  app:
    build: .
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/expense_tracker_db
    depends_on:
      - mongodb

volumes:
  mongo-data:
